#left {
    float:left;
    width:100px;
    height: 20px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:100px;
    height: 20px;
}

#right {
    float:right;
    width:100px;
    height: 20px;
}